fastapi>=0.103.0
uvicorn>=0.23.2
pydantic>=2.3.0
sqlalchemy>=2.0.20
python-multipart>=0.0.6
markdown>=3.4.4
python-frontmatter>=1.0.0
jinja2>=3.1.2
tabulate>=0.9.0
requests>=2.31.0
types-requests>=2.31.0.2
types-tabulate>=0.9.0.3
# Required for API tool
python-dotenv>=1.0.0
openai-agents>=0.0.6
